@import "../styles/settings.scss";

.tokens-list {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 40px 20px;
  height: 100%;
  overflow: auto;
  padding: 40px 0px;

  .tokens-list__token {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 70%;
    border: solid 1px $bg-color;
    border-radius: 10px;
    padding: 1.5rem 10px;
    position: relative;
    z-index: 10;
    background-color: lighten($container-bg-color, 65);

    img {
      height: 2.4rem;
      position: absolute;
      top: -1.4rem;
      left: 10px;
      background-color: transparent;
      padding: 0px 3px;
    }
  }
}
