.container {
  height: 100%;
  display: grid;
  grid-template-rows: 10% 76% 8% 6%;

  .settings {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    & > div:not(.page-title) {
      margin: 20px 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  .page-title {
    padding: 10px;
    font-size: 1.4rem;
    text-align: center;
  }
}

.user-tokens {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
